<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <title>车库管理</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>

    </style>
</head>
<body>
    <div id="bg"></div>

    <div id="top_label">
        <div class="top_side">
            <a class="top_fun" href="">个人主页</a>
            <a class="top_fun" href="">车库状态</a>
            <a class="top_fun" href="">我的钱包</a>
        </div>
        <div class="top_side">
            <a class="top_fun" href="">登录</a>
            <a class="top_fun" href="">注册</a>
        </div>
    </div>

    <div id="mainBox">
        <h3>用户列表</h3>
        <div class="users">
            <div class="user">

            </div>
        </div>
    </div>
</body>
</html>